{% if section.settings.title != blank %}
  <h1>{{ section.settings.title }}</h1>
{% endif %}
{% form 'contact' %}
  {% if form.errors %}
    <p>
      <span class="error-icon">{% render 'error-icon' %}</span> There has been an error
    </p>
    <ul>
      {% for error in form.errors %}
        <li>
          <span>{{ error }}</span> <span>{{ form.errors.messages[error] }}</span>
        </li>
      {% endfor %}
    </ul>
  {% elsif form.posted_successfully? %}
    <p>
      <span class="success-icon">{% render 'success-icon' %}</span> Form is posted successfully
    </p>
  {% endif %}
  <label for="contact_name">Name</label>
  <input type="text" name="contact[name]" id="contact_name">

  <label for="contact_email">Email</label>
  <input type="email" name="contact[email]" id="contact_email">

  <label for="contact_message">Message</label>
  <textarea name="contact[body]" id="contact_message"></textarea>

  <input type="submit" value="Submit message">
{% endform %}

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Form title"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
