<div>
  <h1>Sign into your account</h1>
  <div>
    {% form 'customer_login' %}
      {% if form.errors %}
        <p>{{ form.errors | default_errors }}</p>
      {% endif %}
      <div>
        <label for="email_address">Email address</label>
        <input type="email" name="customer[email]" id="email_address" autocomplete="email" placeholder="Email address">
      </div>

      {% if form.password_needed %}
        <div>
          <label for="password">Password</label>
          <input type="password" name="customer[password]" id="password" autocomplete="password" placeholder="Password">
        </div>
      {% endif %}

      <div>
        <button type="submit">Sign in</button>
      </div>
    {% endform %}

    {% comment %} Guest login {% endcomment %}
    {% if shop.checkout.guest_login %}
      <h2>Continue as a guest</h2>
      <button type="submit"></button>
    {% endif %}
  </div>

  <h1>Recover your password</h1>
  <div>
    {% form 'recover_customer_password' %}
      {% if form.errors %}
        <p>{{ form.errors | default_errors }}</p>
      {% endif %}
      <div>
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" autocomplete="email" placeholder="Email address">
      </div>

      <div>
        <button type="submit">Recover password</button>
      </div>
    {% endform %}
  </div>
</div>
