{% paginate collection.products by section.settings.number_of_products_per_page %}
  <h1>{{ collection.title }}</h1>
  {% for product in collection.products %}
    {% render 'product-cart', product_product: product %}
  {% else %}
    <h2>No products in the collection</h2>
  {% endfor %}

  {% render 'pagination', pagination: paginate %}
{% endpaginate %}

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 2,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
