<div>
  <h1>Reset your password</h1>
  <div>
    {% form 'reset_customer_password' %}
      {% if form.errors %}
        <p>{{ form.errors | default_errors }}</p>
      {% endif %}

      <div>
        <label for="password">Password</label>
        <input type="password" name="customer[password]" id="password" autocomplete="password" placeholder="Password">
      </div>

      <div>
        <label for="password_confirmation">Password confirmation</label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="password"
          placeholder="Confirm password"
        >
      </div>

      <div>
        <button type="submit">Reset password</button>
      </div>
    {% endform %}
  </div>
</div>
